<br><br>
<div class="col-md-6">
  <h2>Edit Person</h2>
</div>
<br>

<%= render 'form', person: @person %>

<br>
<div class="col-md-6">
  <%= link_to 'Show', @person %> |
  <%= link_to 'Back', people_path %>
</div>
